<h1> Admin Dashboard </h1>
<div class="panel panel-default items">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Display a count of how many products are in the database</th>
      <th>Display a count of how many categories are in the database</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= @count_of_products %></th>
      <th><%= @count_of_categories %></th>
    </tr>
  </tbody>
  </table>
</div>
